body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-color: rgb(180, 213, 224);
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

h1 {
  font-family: "Waiting for the Sunrise", serif;
  max-width: 90%;
  text-align: center;
  margin-top: 80px;
  font-size: 70px;
  color: rgb(40, 52, 75);
  margin: 0 auto;
  overflow: hidden; 
  border-right: .10em solid rgb(10, 7, 20); 
  white-space: nowrap; 
  letter-spacing: .11em; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@media (max-width: 1200px) {
  h1 {
      font-size: 60px;
      margin: 10px auto;
  }
}

@media (max-width: 1000px) {
  h1 {
      font-size: 50px;
      margin: 10px auto;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 20px;
    margin: 10px auto;
}
}

@media (max-width: 900px) {
  h1 {
      font-size: 40px;
      margin: 10px auto;
  }
}

@media (max-width: 800px) {
  h1 {
      font-size: 30px;
      margin: 10px auto;
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(40, 52, 75); }
}

.gif {
  display: flex;
  justify-content: center;
  align-items: center;
}

#gif {
  width: 200px;
}

.container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px; 
  margin-top: 20px;
}

button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 2px solid rgb(40, 52, 75);
  width: 250px;
  height: 80px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  font-size: 30px;
}

button:hover {
  background-color: rgb(40, 52, 75);
  transition: 0.4s;
  color: rgb(255, 255, 255);
}

#shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
  display: none;
}

#message {
  position: fixed;
  top: 50%;  /* Adjusted to center the message vertically */
  left: 50%;
  transform: translate(-50%, -50%);  /* Centers the message both horizontally and vertically */
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  display: none;
  width: 40%; /* Adjusted width for smaller screens */
  max-width: 500px; /* Max width for large screens */
  font-family: "Waiting for the Sunrise", serif;
  font-size: 22px;
}

@media (max-width: 1700px) {
  #message {
      width: 45%;
  }
}

@media (max-width: 1490px) {
  #message {
      width: 50%;
  }
}

@media (max-width: 1120px) {
  #message {
      width: 60%;
  }
}

@media (max-width: 900px) {
  #message {
      width: 70%;
      font-size: 18px;  /* Slightly smaller font size for mobile */
  }
}

@media (max-width: 750px) {
  #message {
      width: 80%;
  }
}

@media (max-width: 600px) {
  #message {
      width: 90%;
      font-size: 16px;  /* Font size adjusted further for small screens */
  }
}
